body{
    margin:0;
    padding:0;
    background: linear-gradient(135deg, #6a11cb, #2575fc , purple);
    height:100vh;
    display:flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow:1px 1px black;
}
h1{
    text-align: center;

    text-decoration: solid;
}
.player{
    text-align: center;
}
img{
    /* box-sizing: border-box; */
    height: 200px;
    width:200px;
    margin: 0px 25px 0px 25px;
}
.player1,.player2{
    height: 250px;
    width:250px;
    margin: 0px;
}

#game{
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(135deg, #f559c1, #f8e2f2);
    background-color: red;
    display: grid;
    /* width:50%vw;
    height:50%vh; */
    grid-template-columns: 200px 200px;
    grid-template-rows: 50px 100px 100px 30px;
    gap:20px
}

.title{
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.box{
    background-color: white;
    border-radius: 10px;
    border: 1px black solid;
    color: #6a11cb;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#result{
    grid-column-start: 1;
    grid-column-end: 3;
}
#button{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #685ff1;
    color: white;
    font-size: 20px;
    text-shadow:1px 1px black;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #6a11cb;
}